# Backend .gitignore

# Virtual Environments
.venv/
venv/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment Variables
.env
.env.local
.env.*.local

# Databases & Local Logs
*.sqlite3
*.db
*.log

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
